.subscribe{
    color: white;
    background-color: rgb(247, 47, 47);
    border-radius: 2px;
    border: none;
    padding: 6px;
    margin: 8px;
    cursor: pointer;
}
.subscribe:hover{
    background-color:white;
    color:red;
}
.subscribe:active{
    opacity: 1s;
}
.join{
    color: rgb(160, 59, 255);
    background-color: rgb(253, 250, 250);
    border-radius: 2px;
    border: none;
    padding: 6px;
    margin: 8px;
    cursor: pointer;
}
.join:hover{
    background-color:white;
    color:red;
}
.subscribe:active{
    opacity: 1s;
}